---
import "../styles/global.css";
import Layout from "../components/layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Astro learning blog";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="My personal blog">
  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</Layout>
