---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/footer/Footer.astro";
import Layout from "../components/layout/Layout.astro";
const pageTitle = "Home Page";
---

<Layout title="Home Page">
  <h1>{pageTitle}</h1>
</Layout>
