---
import Tag from "./Tag.astro";

const { tags } = Astro.props;
---

<div class="tags">
  {tags.map((elto) => <Tag tag={elto} />)}
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
