.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(156 163 175);
  margin: 0 0.5em;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 10rem;
}

.text {
  color: rgb(229 229 229);
}